{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# the web debug toolbar content #}
        {% set icon %}
            <img width="23" height="28" alt="Git" style="border-width: 0; vertical-align: middle; margin-right: 5px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
IGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAOcSURBVHja5JW9i6RF
EMafqu6e9515h1lYmUv2GLgFdeBE9DTSQAMNhGP1BI2E00jOQBHvL1ADDczFyMRMXIwO/EAxEi87
9BRBV2R10F3u9mbn4/3oqjLYeYeZnQkvs8Nu6tdVTz9VTWaGu7kYd3nddaAHgJ2dnaVNIkKj0cB4
PIZz7szW1taHIYRmnueDg4ODK0RUNBoNlGW5FLe7u3sCXKejcw5JkoCZz02n00tFUaCqKgFwNU3T
oo4jotUMkyQ5nSGHEB6NMaaq+tB0OgUzQ1WLjY2NJ0IIh3me3zGzG2tL7na7S+WKyHkz+97MqCgK
MDOICM65VrPZ/GwGvwWgb2YHK8DBYHD6oqzRaJBzDt77pYOjoyMAgIi0mbm1NsPTOgC4A2BqZv7k
mPxCBdHMjIhuARitBa55lN+qqroAgImoH0L41DlHIvJvjPGiqo6dc5Vz7vZaYKfTOb1fMvMvqorj
4+PbqloxsxORoZld73Q6YOa17vAA0G63V/bN7CkAaQghizF+TESUJMnEe/98CEEBDAF8A8AWq/QA
MBqtSHGema/V+jKz1p0lIm/EGGFmOYBtAINFhgeA4XC4kmGapmDmlRYlIhARyrK0ulPMDDHG1Veu
0yaiQzPbM7MEQDpjGRGNp9OpqiqFEPaJaLB40Ry4uEQEAP5S1ZeYORDRj3WMiDy7t7d3T57ntL29
XTSbzZdVFQCImX8A8NMS0MweUdUXzOxpVb3fe/8lM1+qz1X1aq/X6xMRVBVFUQAAYozI8/wjAK/W
wFRE3heR12ZmRp7nmEwmaYwRm5ubyLIMRDQSEeR5jjRN4ZyDqsJ7D+/92bnYqvpOjPF1M/POOYgI
Yox/FEXx1Wg0goiAiGBmMuvjnwH87ZyDc+6kV7PssTnQzJ5bEDdvNBqXsyy7r9VqfdDtdpGmKcqy
xGg08pPJBGVZvp0kyb1E9CaAONNe548SY3SzDCAi3nv/pPf+RrfbvcnMpZlBVUFEV0Rkq91u31TV
B1X1cRHhdcNh4L0/F2OEqvqqql4hosvM/CuA34noHwBllmViZmfM7IGqqvqLlnGz2v1sOr+rqp+H
EIKqQkRgZhxj7APoL7hgPqVr09c6ish4EXgtxnhRRN5j5odDCHPAzGfzL8F7j7IsUVXVvBFijN8x
81tLxnbOfWFm36rqMwBeBHCBiM5679v1AOn1emi1Wtjf3x8eHh7+aWbXy7L8hIi+rjOm/99H/98A
RC/0r2q7gEgAAAAASUVORK5CYII=">
        {% endset %}
        {% set text %}
            <span title="LidaaGit">Git</span>
        {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
	<span class="label">
		 <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
IGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAOcSURBVHja5JW9i6RF
EMafqu6e9515h1lYmUv2GLgFdeBE9DTSQAMNhGP1BI2E00jOQBHvL1ADDczFyMRMXIwO/EAxEi87
9BRBV2R10F3u9mbn4/3oqjLYeYeZnQkvs8Nu6tdVTz9VTWaGu7kYd3nddaAHgJ2dnaVNIkKj0cB4
PIZz7szW1taHIYRmnueDg4ODK0RUNBoNlGW5FLe7u3sCXKejcw5JkoCZz02n00tFUaCqKgFwNU3T
oo4jotUMkyQ5nSGHEB6NMaaq+tB0OgUzQ1WLjY2NJ0IIh3me3zGzG2tL7na7S+WKyHkz+97MqCgK
MDOICM65VrPZ/GwGvwWgb2YHK8DBYHD6oqzRaJBzDt77pYOjoyMAgIi0mbm1NsPTOgC4A2BqZv7k
mPxCBdHMjIhuARitBa55lN+qqroAgImoH0L41DlHIvJvjPGiqo6dc5Vz7vZaYKfTOb1fMvMvqorj
4+PbqloxsxORoZld73Q6YOa17vAA0G63V/bN7CkAaQghizF+TESUJMnEe/98CEEBDAF8A8AWq/QA
MBqtSHGema/V+jKz1p0lIm/EGGFmOYBtAINFhgeA4XC4kmGapmDmlRYlIhARyrK0ulPMDDHG1Veu
0yaiQzPbM7MEQDpjGRGNp9OpqiqFEPaJaLB40Ry4uEQEAP5S1ZeYORDRj3WMiDy7t7d3T57ntL29
XTSbzZdVFQCImX8A8NMS0MweUdUXzOxpVb3fe/8lM1+qz1X1aq/X6xMRVBVFUQAAYozI8/wjAK/W
wFRE3heR12ZmRp7nmEwmaYwRm5ubyLIMRDQSEeR5jjRN4ZyDqsJ7D+/92bnYqvpOjPF1M/POOYgI
Yox/FEXx1Wg0goiAiGBmMuvjnwH87ZyDc+6kV7PssTnQzJ5bEDdvNBqXsyy7r9VqfdDtdpGmKcqy
xGg08pPJBGVZvp0kyb1E9CaAONNe548SY3SzDCAi3nv/pPf+RrfbvcnMpZlBVUFEV0Rkq91u31TV
B1X1cRHhdcNh4L0/F2OEqvqqql4hosvM/CuA34noHwBllmViZmfM7IGqqvqLlnGz2v1sOr+rqp+H
EIKqQkRgZhxj7APoL7hgPqVr09c6ish4EXgtxnhRRN5j5odDCHPAzGfzL8F7j7IsUVXVvBFijN8x
81tLxnbOfWFm36rqMwBeBHCBiM5679v1AOn1emi1Wtjf3x8eHh7+aWbXy7L8hIi+rjOm/99H/98A
RC/0r2q7gEgAAAAASUVORK5CYII=" alt="" /></span>
		 <strong>Git</strong>
	</span>
{% endblock %}

{% block panel %}
		 <h2>Git</h2>
		 {% render "LidaaGitBundle:Git:index" %}
{% endblock %}
